/* CSS Document */

body {
    background-color: gray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: red;
    font-size: x-large;
}
h2 {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    font-style: italic;

}
p {
    color: goldenrod;
}

a {
    color: antiquewhite;
}